@import url('https://fonts.googleapis.com/css?family=Roboto');

svg {
    fill: rgb(242, 242, 242);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0.2rem;
}

.logo {
    fill: #94d31b;
}
#radios label {
    position: relative;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"] + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

input + svg {
    cursor: pointer;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
    fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
    fill: rgb(0, 204, 79);
}