.card-space {
    margin: 1rem;
}

.add-margin-s {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.add-margin-m {
    margin-left: 0.8rem;
}

.add-margin-l {
    margin-left: 1.2rem;
}

.notification {
    position: absolute;
    top: 80px;
    left: 40%;
    z-index: 101;
}

.navbar-title {
    text-align: center;
    width: 100%;
}