<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navbar</title>
</head>

<body id="page-top">

<div id="wrapper">


    <nav th:fragment="searchbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Topbar Search, disabled since its not finished yet -->
        <!--<form action="/search/" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" >
            <div class="input-group">
                <input id="query" name="query" type="text" class="form-control bg-light border-0 small" placeholder="Enter Text"
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>-->

    </nav>

    <ul th:fragment="navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-seedling"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Planty</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Overview</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Plants
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-spa"></i>
                <span>Plant Details</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Select Plant:</h6>
                    <a th:each="plantElem:${plantList}" th:text="${plantElem.name}" th:href="@{../displayPlant/{id}(id=${plantElem.id})}" class="collapse-item" <!--href="#">Plantname--></a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Add plant -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/createPlant}">
                <i class="fas fa-fw fa-plus"></i>
                <span>Add Plant</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Sensors -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/showSensors}">
                <i class="fas fa-fw fa-database"></i>
                <span>Sensors</span></a>
        </li>

        <!-- Nav Item - Settings -->
        <!--<li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-cog"></i>
                <span>Settings</span></a>
        </li>

        &lt;!&ndash; Divider &ndash;&gt;
        <hr class="sidebar-divider d-none d-md-block">


        &lt;!&ndash; Nav Item - Settings &ndash;&gt;
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-info-circle"></i>
                <span>Help</span></a>
        </li>-->

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</div>

</body>
</html>